bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
PetFlow/Properties/launchSettings.json
PetFlow.sln.DotSettings.user
*.DotSettings.user
*.sqlite
*copilot*.xml
dataSources.xml
launchSettings.json
PetFlow.sln.DotSettings.user
